body {
  height: 100vh;
  background-image: url("./bg.png");
  background-position: 0 0;
  animation: pattern 10s linear infinite;
}

@keyframes pattern {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 600px;
  }
}
